@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Rajdhani:500');
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

html{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #bf5201;
	color:#000;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	border: 0;
	position: relative;
	z-index: 0;
}
img{
	max-width: 100%;
	height: auto;
}

/* -- Swiper-container -------------- */
.swiper-container{
	width: 100%;
	height: 510px;
	padding-top: 100px;
	padding-bottom: 5px;
	position: relative;
	background: #C0C0C0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}
.swiper-container::after{
	content: "";
	width: 100%;
	height: 510px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.swiper-container::before{
	content:"";
	width:100%;
	height:80vh;
	position:absolute;
	top:0;
	left:0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0);

	background: #151519 url('../Bicycle_Shop/images/mainback.jpg') top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	animation: grow 60s  linear 10ms infinite;
	transition: all 0.2s ease-in-out;
	z-index: -2;
}
@keyframes grow {
	0% { transform: scale(1)}
	50% { transform: scale(1.2)}
}
.swiper-slide{
	background-position: center;
	background-size: cover;
	width: 480px;
	height: 380px;
	background: #fff;
	overflow: hidden;
	box-sizing: border-box;
}
.swiper-slide:hover{
	border-radius: 10px;
	border: 1px solid #FF6600;
}
.swiper-slide .imageBox{
	width: 100%;
	height: 360px;
	overflow: hidden;
}
.swiper-slide .imageBox img{
	width: 100%;
	height: auto;
}
.swiper-slide .details{
	position: absolute;
	width: 100%;
	bottom: -60px;
	background: #fff;
	box-sizing: border-box;
	padding: 10px 15px;
	transition: .3s;
}
.swiper-slide:hover .details{
	bottom: 0;
	box-shadow: 0 -5px 15px rgba(0,0,0,0.7);
}
.swiper-slide .details h1{
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 1em;
}
.swiper-slide .details div.category p{
	font-size: 16px;
	color: #686868;
	font-weight: normal;
	font-size: 15px;
	margin: 0;
}
.swiper-slide .details p span{
	padding-left: 20px;
	color: #686868;
}
.swiper-slide .details .price{
	position: absolute;
	top: 10px;
	right: 20px;
	font-weight: bold;
	color: #FF6600;
	font-size: 20px;
}
.swiper-slide .details input[type="number"]{
	width: 65px;
	height: 20px;
	font-size: 18px;
	background: #C0C0C0;
	color: #151519;
	border: none;
}
.swiper-slide .details input[type="number"]:focus{
	border: 1px solid #151519;
	background: #fff;
}
.swiper-slide .details .button{
	display: block;
	background: #FF6600;
	color: #fff;
	border: none;
	width: 100%;
	height: 30px;
	font-size: 18px;
	overflow: hidden;
	text-decoration: none;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	text-align: center;
	cursor: pointer;
}
.swiper-slide .details .button:hover{
	background: #FF4400;
	color: #fff;
  	cursor: pointer;
}
.swiper-pagination-bullet{
	font-size: 16px;
	background: #C0C0C0;
}
.swiper-pagination-bullet:hover{
	background: #ff7700;
	opacity: .4;
}
.swiper-pagination-bullet-active{
	font-size: 16px;
	background: #ff7700 !important;
}

/* -- Navigation Bar-------------- */
#navbar {
	background-color: #151519;
	color: #ffffff;
	padding: 10px 20px;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	text-align: center;
	border-top: 1px solid rgba(192,192,192,0.4);
	border-bottom: 1px solid #C0C0C0;
	z-index: 100;
}
#navbar .logo {
  float: left;
  color: #FF6600;
  padding: 0;
  font-family: 'Coda Caption', sans-serif;
  font-size: 20px;
  opacity: .7;
}
#navbar ul {
	margin: 0 auto;
	padding: 0;
}
#navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0;
}
#navbar ul li a {
	line-height: 60px;
	display: inline-block;
	color: #C0C0C0;
	font-family: 'Amatic SC', cursive;
	font-family: 'Rajdhani', sans-serif;  
	text-decoration: none;
	font-size: 15px;
	padding: 10px 20px;
	line-height: 15px;
	margin: 0 auto;
}
#navbar ul li a i {
	font-size: 15px;
	color: #FF6600;
	opacity: .8;
}
.navHover::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #FF6600;
	opacity: .8;
	transition: width .9s;
	transition-delay: .1s;
}
.navHover:hover::after,
.navHover:focus::after {
	width: 100%;
	transition: width .9s;
}
.fix-navbar {
	position: fixed;
	top: 0;
	width: 100%;
}
.fix-navbar + .content {
	padding-top: 60px;
}
/* -- cart-------------- 
div.shop-icon {
	float: right;
	top: 80px;
	right: 120px;
	width: 50px;
	height: 50px;
	background: transparent;
	border: 1px solid #151519;
	border-radius: 50%;
	display: inline-block;
	position: fixed;
	cursor: pointer;
	box-sizing: border-box;
	z-index: 2;
}
div.shop-icon a {
	color: #FF6600;
	font-size: 20px;
	display: table-cell;
	vertical-align: middle; 
	text-align: center;
	text-decoration: none;
	height: 50px;
	width: 50px;   
}
div.shop-icon:hover {
	width: 55px;
	height: 55px;
	top: 75px;
	right: 115px;
	border-radius: 50%;
	background-color: transparent;
	border: 3px solid #FF6600;
	transition: .1s;
	box-shadow: -3px 3px  rgba(0,0,0,0.4);
	-moz-box-shadow: -3px 3px  rgba(0,0,0,0.4);
	-webkit-box-shadow: -3px 3px  rgba(0,0,0,0.4);
	-o-box-shadow: -3px 3px  rgba(0,0,0,0.4);
}
div.shop-icon:hover a {
	color: #151519;
	transition: .3s;
}

/* -- Modal-------------- 
.modal {
	display: none; 
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}
.modal-content {
	background-color: #f4f4f4;
	border: none;
	border-radius: 5px;
	margin: 9% auto;
	padding: 20px;
	width: 60%;
	height: 55%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
	animation-name: openmodal;
	animation-duration: 1s;
}
.closeBtn {
	color: #ccc;
	float: right;
	font-size: 30px;
}
.closeBtn:hover,.closeBtn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
@keyframes openmodal {
	from{opacity:0;}
	to{opacity:1;}
}

.extra {
	height: 60px;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;;
	background-color: gray;
}

/* -- Content-------------- */
#content {
	position: relative;
	top: 0;
	left: 0;
	padding-top: 70px;
	padding-bottom: 30px;
	width: 100%;
	height: 330vh;
	background-color: #C0C0C0;
}

/* -- Service Content-------------- */
#service-content {
	height: 500px;
	width: 100%;
	background-image: url('../Bicycle_shop/images/sec_back.png');
	background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
}

/* -- Footer-------------- */
#footer {
	position: relative;
	top: 0;
	width: 100%;
	height: 450px;
	background-color: #151519;
}
.footer-content {
	border: 1px solid #C0C0C0;
	float: left;
	width: 730px;
	height: 390px;
	margin-top: 30px;
	margin-left: 20px;
}
.footer-content .about_us,
.footer-content .reach_us {
	float: left;
	width: 50%;
	height: 150px;
	margin-top: 5px;
	margin-left: 5px;
	text-align: justify;
    text-justify: inter-word;
}
.footer-content .about_us h4,
.footer-content .about_us p {
	color: gray;
	font-family: 'Amatic SC', cursive;
	font-family: 'Rajdhani', sans-serif;  
	text-decoration: none;
}
.footer-content .about_us:hover h4 {
	color: #C0C0C0;
	transition: .3s;
}
.footer-content .reach_us h4,
.footer-content .reach_us p {
	color: gray;
	font-family: 'Amatic SC', cursive;
	font-family: 'Rajdhani', sans-serif;  
	text-decoration: none;
}
.footer-content .reach_us:hover h4 {
	color: #C0C0C0;
	transition: .3s;
}



